<div *ngIf="isOpen" role="dialog" aria-modal="true" class="fixed inset-0 bg-black/70 flex items-center justify-center z-50">
  <div class="bg-transparent/60  p-6 rounded-xl relative w-[90%] max-w-sm shadow-2xl border border-white/20 backdrop-blur-md">

    <!-- Botón cerrar -->
    <button (click)="close()" aria-label="Cerrar redes sociales" class="absolute top-2 right-2 text-gray-700 dark:text-gray-300 hover:text-red-500 transition">
      ✕
    </button>

    <!-- Encabezado -->
    <h2 class="text-lg font-bold mb-2 text-center text-gray-900 dark:text-white">{{ translate.t('redes.title')}}</h2>
    <p class="text-sm text-center text-gray-700 dark:text-gray-300 mb-4">
      {{ translate.t('redes.subtitle')}}
    </p>

    <!-- Lista de redes -->
    <ul class="space-y-3">
      <li *ngFor="let item of socialLinks">
        <a [href]="item.url" target="_blank"
          class="group flex items-center gap-3 px-4 py-2 rounded-lg font-semibold shadow transition-all duration-300
          text-white hover:scale-105 hover:shadow-lg"
          [ngStyle]="{'background': item.gradient}">
          <fa-icon [icon]="item.icon" class="text-xl"></fa-icon>
          <div class="flex flex-col">
            <span>{{item.name}}</span>
            <span class="text-xs opacity-80">{{translate.t(item.desc)}}</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
