<div class="flex flex-col min-h-screen">
  <app-navbar></app-navbar>

  <main class="flex-grow flex flex-col">
    <div class="flex-grow">
      <router-outlet></router-outlet>
    </div>
  </main>

  <app-footer></app-footer>

  <a (click)="openModalForm()" target="_blank" rel="noopener noreferrer" class="fixed bottom-4 right-4 w-14 h-14 flex items-center justify-center
         text-white bg-gradient-to-r from-green-500 to-emerald-600
         hover:from-green-600 hover:to-emerald-700
         rounded-full shadow-lg hover:shadow-xl
         hover:scale-110 transition-all duration-300 z-40 animate-pulse-ring">
    <fa-icon [icon]="iconBell" class="text-2xl"></fa-icon>
  </a>

  <!-- 🔹 Modal global -->
  <app-form-reserva></app-form-reserva>
  <app-redes-sociales></app-redes-sociales>
</div>
